<form style="margin-left: 25px;">
<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
    <p class="formHeading">WELCOME FORM</p>
  </div>
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
    <div class="divBg">
      <div class="row">
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="welcomeHeading">Welcome Heading</label>
            <input type="text" class="form-control" id="welcomeHeading" placeholder="Welcome heading">
          </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="schoolName">Welcome Heading</label>
            <input type="text" class="form-control" id="schoolName" placeholder="School name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
