<div class="modal-header">
    <h4 class="modal-title">This is preview of NEWS.</h4>
</div>
<div class="modal-body">
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                <div class="newsCard" style="">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
                            <p class="newsHeadin" ng-bind="previewData.newsHeading"></p>

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
                            <p class="newsDate" ng-bind="previewData.NEWSdate |date:'dd-MM-yyyy h:mma'"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <img width="100%" height="100%" style="max-height: 300px;max-width: 450px" class="newsImage" ng-src="{{previewData.myCroppedImage}}" fallback-src="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p  ng-bind-html="renderHtml(previewData.description)" ></p>
                        </div>
                    </div>

                </div>

            <br /><br />
        </div>

</div>
    <div>
        <label class="checkbox-inline"><input name="sendType"  type="radio" data-ng-model="previewData.sendType" value="noti">Send Notification</label>
        <label class="checkbox-inline"><input name="sendType" type="radio" data-ng-model="previewData.sendType" value="news">Add to NEWS</label>
        <label class="checkbox-inline"><input name="sendType" type="radio" data-ng-model="previewData.sendType" checked value="notinews">Send & Add to NEWS</label>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <!--<button ng-disabled="myForm.$pristine||myForm.$pristine" ng-click="saveData()" class="btn btn-primary">Save Changes</button>-->
        <button ng-click="saveData()" class="btn btn-primary">Publish NEWS</button>
        <button ng-click="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
</div>
