
<div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
            <p class="formHeading">NEWS FORM</p>
        </div>
        <!--  -->
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">
            <form name="myForm"  ng-submit="newNEWSSubmit(newNEWSData)" >
                <div class="divBg">
                    <div class="row">
                        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="newsHeading">News heading</label>
                                <input type="text" class="form-control" id="newsHeading" ng-model="newNEWSData.newsHeading" ng-required="true" placeholder="News heading">
                            </div>
                        </div>
                        <!--<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">-->
                            <!--<div class="form-group">-->
                                <!--<label >News date</label>-->
                                <!--<datepicker date-format="yyyy-MM-dd">-->
                                    <!--<input class="form-control" ng-model="formData.eventDate" placeholder="Select Date"-->
                                           <!--readonly required type="text"/>-->
                                <!--</datepicker>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">
                            <div class="col-xs-12  col-sm-4 col-md-4 col-lg-4">
                                <label>For Whom?</label>
                                <div class="checkbox">
                                    <label><input type="radio" name="newsWhom" checked ng-required="true" ng-model="newNEWSData.newsWhom" value="all"  >For
                                        All</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="radio" name="newsWhom"  ng-model="newNEWSData.newsWhom" value="some" >Select
                                        Class/Group</label>
                                </div>
                            </div>
                            <div ng-if="newNEWSData.newsWhom =='some'" class="col-xs-12  col-sm-8 col-md-8 col-lg-8">

                                    <select ui-select2="select2Options" ng-required="true"  class="js-example-placeholder-multiple js-states form-control" multiple="multiple" ng-model="newNEWSData.groups" data-placeholder="Pick all Class/Group" >
                                        <option value=""></option>
                                        <option ng-repeat="group in schoolGroups" value="{{group}}">{{group}}</option>
                                    </select>

                                <!--  -->
                                <!--<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="section">Section</label>-->
                                        <!--<select id="section" multiple class="form-control">-->
                                            <!--<option>1</option>-->
                                            <!--<option>2</option>-->
                                            <!--<option>3</option>-->
                                            <!--<option>4</option>-->
                                            <!--<option>5</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>News description</label>
                                <textarea class="form-control" rows="3" ui-tinymce="tinymceOptions" ng-model="newNEWSData.description" placeholder="Text here"></textarea>
                            </div>
                        </div>

                        <!--  -->
                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-info" ngf-select ng-model="picFile" accept="image/*">
                                Select NEWS Picture
                            </button>
                            <div class="form-group">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                         class="cropArea">
                                        <img-crop image="picFile  | ngfDataUrl" area-type="rectangle" aspect-ratio="1.7"
                                                  result-image="newNEWSData.myCroppedImage" result-image-size='{w: 340,h: 200}'
                                                  init-max-area="true">
                                        </img-crop>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <img ng-src="{{newNEWSData.myCroppedImage}}"/>
                                </div>
                                <div>

                                </div>


                                <!--<span class="progress" ng-show="progress >= 0">-->
                                <!--<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>-->
                                <!--</span>-->
                                <!--<span ng-show="result">Upload Successful</span>-->
                                <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->

                            </div>
                        </div>
                        <!--  -->

                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12" style="">

                            <!--   <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>-->
                            <button  class="btn btn-default formSubmitBtn" data-toggle="modal"
                                    data-target=".bs-example-modal-lg" type="submit"
                                    style="background:#00a9b7;color:#fff">Preview
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--  -->
        <!--                    <span ng-click="editNEWS(news)" class="glyphicon glyphicon-pencil modifyIcon" aria-hidden="true"></span>
  -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="news in newsData |orderBy:'-'" ng-if="news.status==0">
            
                <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                    <span ng-if="news.status==0" ng-click="deleteNEWS(news)" class="glyphicon glyphicon-trash modifyIcon" style="color: #761c19" aria-hidden="true"></span>
                    <!--<span ng-if="news.status==1" ng-click="deleteNEWS(news)" class="glyphicon glyphicon-upload modifyIcon" style="color: #761c19" aria-hidden="true"></span>-->
                </div>
                <div class="newsCard" style="">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
                            <p class="newsHeadin" ng-bind="news.headline"></p>

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
                            <p class="newsDate" ng-bind="when.its(news.timestamp) |date:'dd-MM-yyyy h:mma'"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <img width="100%" height="100%" style="max-height: 300px;max-width: 450px" class="newsImage" ng-src="{{news.newsImageURL}}" fallback-src="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p  ng-bind-html="renderHtml(news.news)" ></p>
                        </div>
                    </div>
                </div>
            <br /><br />
        </div>
    </div>

