<div class="modal-header">
    <h4 class="modal-title">This is preview in app.</h4>
</div>
<div class="modal-body">
<div class="row">
    <!-- who are we -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img class="center-block" id="schoolLogoImage" ng-src="{{data.schoolData[0].schoolLogo}}" fallback-src
             style="width:75px;height:auto;margin-top:30px;"/>
        <p class="schoolHeading" style="text-align: center">{{data.schoolData[0].schoolName}}</p>
        <p class="schoolBranch"  style="text-align: center"><span >{{data.schoolData[0].schoolBranch}}</span><span></span></p>
        <div  ng-repeat="heading in data.welcomeData.data track by $index">
            <p class="aboutHeading">
                {{heading.title}}
            </p>
            <p style="font-size:12px" ng-repeat="h in heading.data track by $index" ng-if="h.length<1?h=undefined:h" >
                {{h}}
            </p>
        </div>
    </div>
    <!--School Photos  -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px">
        <div class="schoolPhotos">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 photoHeight" ng-repeat="image in data.welcomeData.images">
                <img class="center-block" ng-src="{{image.schoolImg}}" fallback-src
                     width="120px" height="80px" />
            </div>
        </div>
    </div>
    <!-- School History -->
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="aboutHeading">
            {{welcomeData.history}}
        </p>
        <div class="schoolHistory" ng-repeat="schlHistory in welcomeData.welcome.shoolHistory">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <div class="historyYear">{{schlHistory.year}}</div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                <div class="historyContet">
                    {{schlHistory.data}}
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label >Features</label>
        <ul style="font-size:12px">
            <li ng-repeat="testt in data.welcomeData.features track by $index">{{testt.objectiveList}}</li>
        </ul>
    </div>
</div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <!--<button ng-disabled="myForm.$pristine||myForm.$pristine" ng-click="saveData()" class="btn btn-primary">Save Changes</button>-->
        <button ng-click="saveData()" class="btn btn-primary">Save Changes</button>
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>
