/* CSS used here will be applied after bootstrap.css */

.big-chart {
  width:100%;
  height:220px;
}
.line-chart {
  width:100%;
  height:100px;
}
.donut {width:100%;height:150px;min-width:150px;}

.donut-label {
  position:absolute;
  left:45%;
  font-size:22pt;
  color:#ddd;
  width:100%;
  top:38%;
}
.marksHeading{
  font-size: 11px;
  color:#1a237e;
  font-weight: 800;
}
.marksList{
  font-size: 11px;
  margin-left: 8px;
  color:#333;
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
	

}
table.scroll {
  /* width: 100%; */ /* Optional */
  /* border-collapse: collapse; */
  border-spacing: 0;
  /*border: 2px solid black;*/
}

table.scroll tbody,
table.scroll thead { display: block; }

/*thead tr th {*/
  /*height: 30px;*/
  /*line-height: 30px;*/
  /* text-align: left; */
/*}*/

table.scroll tbody {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}


  tbody td, thead th {
    border-right: 1px solid black;
     white-space: nowrap;
  }

  tbody td:last-child, thead th:last-child {
    border-right: none;
  }