.eventCard{
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    box-shadow: 2px 2px 5px #b9b9b9;
	}
	.eventImage{
		width: 100%;
		height: auto;
		cursor: pointer;
	}
	.eventsHeading{
		font-size: 20px;
	    font-weight: 800;
	    color: #d81b60;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.picsHeading{
		 font-size: 18px;
	    font-weight: 800;
	    color: #1a237e;
	}
	.moreImages{
		background: #000000;
	}
	.imageOpacity{
		opacity: 0.2;
	}
	.imageCount {
	    color: #fff;
	    position: absolute;
	    bottom: 50%;
	    left: 0%;
	    width: 100%;
	    text-align: center;
	    font-size: 18px;
	    font-weight: bold;
	}
	.close {
	    color: #fff;
	    opacity: 1;
	    font-size: 35px;
	}
	button.close {
    margin-top: -47px;
}
.close:hover {
    color: #fff;
    opacity: 1;
}
@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
	.eventCard{
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    box-shadow: 2px 2px 5px #b9b9b9;
	}
	.eventImage{
		width: 100%;
		height: auto;
		cursor: pointer;
	}
	.eventsHeading{
		font-size: 20px;
	    font-weight: 800;
	    color: #d81b60;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.picsHeading{
		 font-size: 18px;
	    font-weight: 800;
	    color: #1a237e;
	}
	.moreImages{
		background: #000000;
	}
	.imageOpacity{
		opacity: 0.2;
	}
	.imageCount {
	    color: #fff;
	    position: absolute;
	    bottom: 25%;
	    left: 0%;
	    width: 100%;
	    text-align: center;
	    font-size: 18px;
	    font-weight: bold;
	}
	.modalPopup{
		padding-right: 0 !important;

	}
	.modalBody{
		padding:0;
	}
	.modal-content{

	}
	.close {
	    color: #fff;
	    opacity: 1;
	    font-size: 35px;
	}
}
