body{
	font-family: 'Ubuntu', sans-serif;
    color: #333;
}
/*------navbar-----*/
.navbar-default {
    background-color:#00a9b7;
    border-color: #00a9b7;
}
.navbar-default .navbar-brand {
    color: #fff;
	font-weight: 800;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    border: none;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1a237e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #d81b60;
}
.navbar-default .navbar-nav>a:focus, .navbar-default .navbar-nav>a:hover {
    color: #fff;
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #d81b60;
}
.navbar-nav {
    margin-top: 0;
	margin-bottom: 0;
}

.navIconMargin{
	margin-right:8px;
}
.form-control {
    color: #000;
    border: 1px solid #00a9b7;
}

/*------Side bar-----*/

.fixedSidebar{
	position:fixed;
	background: #363b42;
    color: #fff;
    height: 100%;
    padding: 0;
}
.listBottom{
	border-bottom: 1px solid #8a8a8a
}
.sidebar-menu > li > a {
    color: #c7c7c7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2d3243;
    color: #fff;
}
.listBottom a:active {
    text-decoration: none;
    background-color: #2d3243;
    color: #fff;
}
a:active {
    text-decoration: none;
    background-color: #2d3243;
    color: #fff;
}
.iconFloat{
	float: right;
}
.nav>li>a {
    padding: 15px 15px;
    font-weight: bold;
}
/*------Content-----*/

.contentblock{
	
}
.formHeading{
	margin: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.divBg{
    padding: 20px;
    background: #e2e2e2;
    margin-bottom: 30px;
    border-radius: 8px;
}
/*------Submit Button-----*/

.btnBlock{
	position:fixed;
	top:200px;
}
.formSubmitBtn{
    background: #d81b60;
    color: #fff;
    float: right;
}
.footerPosition{
    width: 100%;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #2d3243;
}


@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
   
}

.thumb {
    width: 200px;
    height: 200px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
.app-modal-window .modal-dialog {
    width: 65%;
    height: 100%;
}
img-crop{width:100%;height:100%;display:block;position:relative;overflow:hidden}img-crop canvas{display:block;position:absolute;top:50%;left:50%;outline:0;-webkit-tap-highlight-color:transparent}