.newsDate{
	float: right;
}
.newsHeading{
	color: black;
	font-size: 13px;
	font-weight: 700;
}

img-crop {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}
img-crop canvas {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	/* mobile webkit */
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
	
	
}
.schoolNews{
	font-size: 20px;
	font-weight: 800;
	color: #d81b60;
	text-align: center;
	margin-bottom: 20px;
}
.news{
	margin-bottom: 20px;
}
.newsCard{
	padding: 10px;
	border: 1px solid #e2e2e2;
	box-shadow: 2px 2px 5px #b9b9b9;
	border-radius: 5px;
	background: #fff;
	padding-bottom: 0;
}
.newsHeading{
	font-size: 15px;
	font-weight: 800;
	color: #1a237e;
}
.newsDate{
	font-size: 12px;
	font-weight: 700;
	float: right;
}
.newsImage{
	width: 100%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px
}
.newsContent{
	font-size: 12px;
}
.commentBlock{
	padding: 7px;
	padding-left: 0;
	margin-left: -10px;
	margin-right: -10px;
	background: #efefef;
	border-top: 2px solid #cacaca;

}
.readmoreText{
	color:#d81b60;
	font-weight:700;
	margin-left:5px;
	cursor: pointer;
}
.commentIcon{
	color: #1a237e;
}
.commentText{
	font-weight:700;
	cursor: pointer;
	font-size: 12px;
	margin-right: 15px;
}
.commemtInput{
	border-radius: 2px;
	font-size: 12px !important;
	height: 45px !important;
	margin-top: 10px;
}
.commentSubmit{
	margin-bottom: 10px;
	float: right;
	font-size: 10px;
	border-radius: 2px;
	background: #d81b60 !important;
	color: white !important;
	font-weight: 500;
	border: none;
	margin-top: 10px;
}
.parentComment{
	font-size: 11px;
	margin-top: 10px;	}
.parentName{
	color: #1a237e;
	margin-right: 10px;
	font-weight: 700;
	font-size: 12px;
}
.commentEdit{
	float: right;
	cursor: pointer;
	margin-right: 10px;
	color: #1a237e;
}
.commentDelete{
	float: right;
	cursor: pointer;
	color: #1a237e;
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
	.schoolNews{
		font-size: 20px;
		font-weight: 800;
		color: #d81b60;
		text-align: center;
		margin-bottom: 20px;
	}
	.news{
		margin-bottom: 20px;
	}
	.newsCard{
		padding: 10px;
		border: 1px solid #e2e2e2;
		box-shadow: 2px 2px 5px #b9b9b9;
		border-radius: 5px;
		background: #fff;
		padding-bottom: 0;
	}
	.newsHeading{
		font-size: 15px;
		font-weight: 800;
		color: #1a237e;
	}
	.newsDate{
		font-size: 12px;
		font-weight: 700;
		float: right;
	}
	.newsImage{
		width: 100%;
		height: auto;
		margin-top: 15px;
		margin-bottom: 15px
	}
	.newsContent{
		font-size: 12px;
	}
	.commentBlock{
		padding: 7px;
		padding-left: 0;
		margin-left: -10px;
		margin-right: -10px;
		background: #efefef;
		border-top: 2px solid #cacaca;

	}
	.readmoreText{
		color:#d81b60;
		font-weight:700;
		margin-left:5px;
		cursor: pointer;
	}
	.commentIcon{
		color: #1a237e;
	}
	.commentText{
		font-weight:700;
		cursor: pointer;
		font-size: 12px;
		margin-right: 15px;
	}
	.commemtInput{
		border-radius: 2px;
		font-size: 12px !important;
		height: 45px !important;
		margin-top: 10px;
	}
	.commentSubmit{
		margin-bottom: 10px;
		float: right;
		font-size: 10px;
		border-radius: 2px;
		background: #d81b60 !important;
		color: white !important;
		font-weight: 500;
		border: none;
		margin-top: 10px;
	}
	.parentComment{
		font-size: 11px;
		margin-top: 10px;	}
	.parentName{
		color: #1a237e;
		margin-right: 10px;
		font-weight: 700;
		font-size: 12px;
	}
	.commentEdit{
		float: right;
		cursor: pointer;
		margin-right: 10px;
		color: #1a237e;
	}
	.commentDelete{
		float: right;
		cursor: pointer;
		color: #1a237e;
	}

}