/* flip css start */

/* not important */


.page1 {
    position: relative;
}

.page2 {
    position: relative;
    display: none;
}

.flip {
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); 
    -moz-backface-visibility:hidden;
    -moz-transform:translateX(0);
}
.flip.out {
    -webkit-transform: rotateY(-90deg) scale(.9);
    -webkit-animation-name: flipouttoleft;
    -webkit-animation-duration: 175ms;
    -moz-transform: rotateY(-90deg) scale(.9);
    -moz-animation-name: flipouttoleft;
    -moz-animation-duration: 175ms;
}
.flip.in {
    -webkit-animation-name: flipintoright;
    -webkit-animation-duration: 225ms;
    -moz-animation-name: flipintoright;
    -moz-animation-duration: 225ms;
}
.flip.out.reverse {
    -webkit-transform: rotateY(90deg) scale(.9);
    -webkit-animation-name: flipouttoright;
    -moz-transform: rotateY(90deg) scale(.9);
    -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
    -webkit-animation-name: flipintoleft;
    -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}

/* flip css end */
.infoCard{
		background-color: #fff;
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    box-shadow: 2px 2px 5px #b9b9b9;
	}
	.resultHeading{
		font-size: 20px;
	    font-weight: 800;
	    color: #d81b60;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.studentPic{
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.StudentPicBorder{
		border-right:2px solid #e2e2e2; 
	}
	.testResults{
		margin-top: 20px;
		margin-bottom: 20px;
	    font-size: 18px;
	    text-align: center;
	    color: #1a237e;
	    font-weight: 800;
	}
	.studentInfoHeading{
		font-size: 12px;
		font-weight: 600;
		color: #1a237e;
	}
	.studentDetails{
		margin-left:10px;
		font-size: 12px;
		color: #333;
		font-weight: 400;
	}
	.downloadIcon{
	    position: absolute;
	    z-index: 99999999;
	    color: white;
	    float: right;
	    right: 60px;
	    top: 23px;
	    font-size: 18px;
	    cursor: pointer;	
	}
	.shareIcon{
		position: absolute;
	    z-index: 99999999;
	    color: white;
	    float: right;
	    right: 95px;
	    top: 23px;
	    font-size: 18px;
	    cursor: pointer;
	}
	.panelTitle{
	    color: #1a237e;
    	font-size: 14px;
    	font-weight: 700;
	}
	.tableHeader{
		font-size: 13px;
	}
	.tableBody{
		font-size: 13px;
	}
	.analysisBtn{
		float: right;
	    background: #d81b60 !important;
	    color: #fff !important;
	    border: 0 !important;
	}


@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
	.infoCard{
		background-color: #fff;
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    box-shadow: 2px 2px 5px #b9b9b9;
	}
	.resultHeading{
		font-size: 20px;
	    font-weight: 800;
	    color: #d81b60;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.studentPic{
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.StudentPicBorder{
		border-right:2px solid #e2e2e2; 
	}
	.testResults{
		margin-top: 20px;
		margin-bottom: 20px;
	    font-size: 18px;
	    text-align: center;
	    color: #1a237e;
	    font-weight: 800;
	}
	.studentInfoHeading{
		font-size: 12px;
		font-weight: 600;
		color: #1a237e;
	}
	.studentDetails{
		margin-left:10px;
		font-size: 12px;
		color: #333;
		font-weight: 400;
	}
	.downloadIcon{
	    position: absolute;
	    z-index: 99999999;
	    color: white;
	    float: right;
	    right: 60px;
	    top: 23px;
	    font-size: 18px;
	    cursor: pointer;	
	}
	.shareIcon{
		position: absolute;
	    z-index: 99999999;
	    color: white;
	    float: right;
	    right: 95px;
	    top: 23px;
	    font-size: 18px;
	    cursor: pointer;
	}
	.panelTitle{
	    color: #1a237e;
    	font-size: 14px;
    	font-weight: 700;
	}
	.tableHeader{
		font-size: 13px;
	}
	.tableBody{
		font-size: 13px;
	}
	.analysisBtn{
		float: right;
	    background: #d81b60 !important;
	    color: #fff !important;
	    border: 0 !important;
	}

}